.page-header {
    margin-bottom: 20px;
    padding: 10px 0;
    background-color: $color-white;
    border-bottom: 1px solid $color-gray;
    -webkit-box-shadow: 0px 0px 12px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 12px 0px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 12px 0px rgba(66, 68, 90, 1);
    position: relative;
    &__wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__logo{
        flex-shrink: 0;
        position: relative;
        img{
            display: block; 
        }
        &::after{
            content: "BETA";
            position: absolute;
            bottom: -55%;
            left: 0;
            color: #000;
        }
    }
    &__search{
        display: none;
        @include media(tablet) {
            display:block;
        };
    }
}
.sticky{
  position:sticky;
  top: 0;
}