.page-header {
    margin-bottom: 30px;
    padding: 10px 0;
    background-color: $color-white;
    border-bottom: 1px solid $color-gray;
    &__wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__logo{
        flex-shrink: 0;
        position: relative;
        &::after{
            content: " ";
            display: inline-block;
            background: url("/images/icons/tree.png") no-repeat ;
            width: 40px;
            height: 40px;
            background-size: 40px;
            position: absolute;
            left: 115px;
            top: -8px;
        }
        img{
            display: block; 
        }
    }
    &__search{
        display: none;
        @include media(tablet) {
            display:block;
        };
    }
}
